# Dart / Flutter
.dart_tool/
.packages
.pub/
.pub-cache/
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/.gradle
android/local.properties
.flutter-plugins
.flutter-plugins-dependencies
.metadata
pubspec.lock

# IDEs
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Generated
*.g.dart
*.freezed.dart

# Coverage
coverage/
